@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Maladie de ...</h2>

    <form asp-controller="Home" asp-action="Traitement" method="post">
    <p><label for="">Nom</label>
    <select name="patient" id="">
        @foreach (var patient in Model)
        {
            <option value="@patient.Id_Patient">@patient.Nom</option>
        }
    </select>
    </p>
    <p><label for="">Priorite</label>
    <select name="priorite" id="">
        <option value="Prix">Prix</option>
        <option value="Efficacite">Efficacite</option>
    </select>
    </p>
    <p><input type="submit" value="Valider"></p>
    </form>
</div>
